<p-growl [(value)]="msgs" [sticky]="false"></p-growl>
<div class="ui-g">
	<div class="ui-g-12"><h2 class="realtor-status-text">Get Realtor Earnest Money Agreement Status</h2></div>
	<div class="ui-g-8">
		<p-panel [showHeader]="false">
			<div class="ui-g">

				<div class="ui-g-2"><label for="uuid">Realtor Account</label></div>
				<div class="ui-g-1"><input id="uuid" type="text" pInputText size="50" [(ngModel)]="inpRealtorAccount"/></div>
				<div class="ui-g-9"></div>

				<div class="ui-g-2"><label for="uuid">Agreement ID</label></div>
				<div class="ui-g-1"><input id="uuid" type="text" pInputText size="50" [(ngModel)]="inpUuid"/></div>
				<div class="ui-g-9"></div>
			
				<div class="ui-g-2"></div>
				<div class="ui-g-2"><button pButton type="button" (click)="getRealtorAgreementStatus();" label="Get Status"></button></div>
				<div class="ui-g-8"></div>
			</div>
		</p-panel>
	</div>
	<div class="ui-g-4"></div>
</div>

<div class="ui-g" *ngIf="showSpinner">
	<div class="ui-g-5"></div>
	<div class="ui-g-2">
		<p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
	</div>
	<div class="ui-g-5"></div>
</div>

<div class="ui-g" *ngIf="showPanel">
	<div class="ui-g-8">
		<p-panel [showHeader]="false">
			<div class="ui-g">
  				<div class="ui-g-12"><h3>Realtor Earnest Money Agreement Status</h3></div>
  				
				<div class="ui-g-2">Agreement ID: </div>
				<div class="ui-g-4">{{ _uuid }}</div>
				<div class="ui-g-6"></div>
				
				<div class="ui-g-2">Buyer Address: </div>
				<div class="ui-g-4">{{ _buyer }}</div>
				<div class="ui-g-6"></div>
				
				<div class="ui-g-2">Realtor Address: </div>
				<div class="ui-g-4">{{ _realtor }}</div>
				<div class="ui-g-6"></div>
				
				<div class="ui-g-2">Closing Agent Address: </div>
				<div class="ui-g-4">{{ _closingAgent }}</div>
				<div class="ui-g-6"></div>
				
				<div class="ui-g-2">Stage: </div>
				<div class="ui-g-4">{{ _stage | stagePipe }}</div>
				<div class="ui-g-6"></div>
				
				<div class="ui-g-2">Agreement Amount: </div>
				<div class="ui-g-4">{{ _amount }}</div>
				<div class="ui-g-6"></div>

			</div>
		</p-panel>
	</div>
	<div class="ui-g-4"></div>
</div>

